.Rproj.user
.Rhistory
.RData
.Ruserdata
andere/
*.bak*
*.sav*
code/
tmp/
frontiers.txt
random_notes.md
thesis.log
*diss_figures.pptx
aenderungen-overleaf.txt
alpha.bst
abstract.md
_bookdown_files/
